<div class="container-fluid">
  <nav class="navbar">
    <div class="nav navbar-nav">
      <h1 class="navbar-brand">Lists Like Woah!</h1></div>
      <a id="logout-button" class="pull-right btn btn-primary" href="/users/logout">Logout</a>
  </nav>

  <div class="row">
      <div id="list" class="col-xs-12">
        <h2>My List</h2>
        <div class="row list-header">
          <div class="col-xs-2">Priority</div>
          <div class="col-xs-6">What choo doin?</div>
        </div>
          {{#each sortedItems}}
          <form method="post">
            <div class="row" id="row-index-{{@index}}">
              <div class="col-xs-2">
                <a class="btn btn-info up-button" id="up_{{id}}" href="/users/{{user_id}}/{{id}}/{{list_order}}/up">Up</a>
                <a class="btn btn-info down-button" id="down_{{id}}" href="/users/{{user_id}}/{{id}}/{{list_order}}/down">Down</a>
              </div>
              <div class="col-xs-6">
                <h4 id="todo_{{id}}" class="checked_{{checked}}">{{todo}}</h4>
                <p class="checked_{{checked}}">{{description}}</p>
              </div>
              <div id="buttons" class="col-xs-3">
                <a class="btn btn-danger delete-button" id="delete{{id}}" href="/users/{{user_id}}/{{id}}/delete">Delete</a>
                <a class="btn btn-primary edit-button" id="edit{{id}}" href="/users/{{user_id}}/{{id}}/edit">Edit</a>
              </div>
              <div class="col-xs-1">
                <a id="checked{{id}}" class="btn btn-primary checkbox" type="checkbox" href="/users/{{user_id}}/{{id}}/{{checked}}">Done!</a>
              </div>
            </div>
          </form>
          {{/each}}
      </div>
      <div id="add-item" class="form-group">
        <form id="add-item-form" method="post" action="/users/{{id}}/add/">
          <input class="form-control submission-form" name="todo" placeholder="Add To Do" type="text"> </input>
          <input class="form-control submission-form" name="description" placeholder="Item Description" type="text"> </input>
          <input type="submit" value="Submit" class="btn btn-success pull-right submit-todo-btn"></input>
        </form>
      </div>
  </div>
</div>
